.header {
    width: 100%;
    height: 100px;
    background: #fafafa;
    padding: 0px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.img-logo {
    width: 78px;
    height: 68px;
}

.header-title {
    font-family: 'Roboto Mono';
    font-size: 24px;
    color: #2a2a2a;
    margin-left: 40px;
    text-align: right;
}

@media screen and (max-width: 699px) {
    .header {
        justify-content: center;
    }

    .header-title {
        display: none;
    }
}
