.App {
	width: 100vw;
	height: auto;
}

.Logo-spin {
	animation: App-logo-spin infinite 20s linear;
}

.img-container {
	height: 60vh;
	display: flex;
	justify-content: flex-start;
}

.img-background {
	height: 60vh;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.divider {
	width: 95%;
	height: 2px;
	display: block;
	background: #e5e5e5;
	margin: 0 auto;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 400px) {
	.img-container {
		height: 40vh;
	}
	.img-background {
		height: 40vh;
	}
}

@media only screen and (max-width: 800px) {
	.img-background {
		display: block;
		position: initial;
	}
}
